# Execute prod build with:
# docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d --build

services:
#  init:
#    command: sh -lc "
#      composer install &&
#      npm ci &&
#      npm run build
#      "

  app:
    build:
      context: .
      dockerfile: docker/prod.Dockerfile
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_URL: http://localhost:8082
    volumes:
      - ./:/var/www/html:delegated
      - vendor:/var/www/html/vendor
      - node_modules:/var/www/html/node_modules
    command: sh -lc "php-fpm"
    restart: unless-stopped

  # Same DB as in development
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: hytale
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

#  vite:
#    working_dir: /var/www/html
#    volumes:
#      - ./:/var/www/html:delegated
#      - vendor:/var/www/html/vendor
#      - node_modules:/var/www/html/node_modules
#    ports:
#      - "5173:5173"